@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --color-primary: #f6aca2;
  --color-secondary: #f49b90;
  --color-tertiary: #f28b7d;
  --color-quaternary: #f07a6a;
  --color-quinary: #ee6352;
}
@import url('https://fonts.googleapis.com/css2?family=Kantumruy+Pro:wght@100;300;400;500;600;700&display=swap');
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: #ffffff;
    font-family: 'Kantumruy Pro', sans-serif;
}
.bg{
  background-image: url(../../public/images/sea.jpg);
   background-size: cover;
  background-position: center;
  height: auto;
}
.bg-kh{
  background-image: url(../../public/images/bg.jpg);
   background-size: cover;
  background-position: center;
  height: auto;
}
.bg-en{
  background-image: url(../../public/images/jungle.jpg);
   background-size: cover;
  background-position: center;
  height: auto;
}
.bg-sub{
  background-image: url(../../public/images/flowers.jpg);
   background-size: cover;
  background-position: center;
  height: auto;
}
.bg-mathCard{
  background-image: url(../../public/images/bluesea.jpg);
   background-size: cover;
    background-position: center;
    height: auto;
}
.bg-mathCardOp{
  background-image: url(../../public/images/animalSea.jpg);
   background-size: cover;
    background-position: center;
    height: auto;
}
.bg-DrugDropEnglish{
  background-image: url(../../public/images/bgDd.jpg);
   background-size: cover;
    background-position: center;
    height: 175vh;
}
.bg-DrugDropKhmer{
  background-image: url(../../public/images/bgDragDropKh.jpg);
   background-size: cover;
    background-position: center;
    height: auto;
}
.bg-khmerCard{
  background-image: url(../../public/images/purpleCandy.jpg);
   background-size: cover;
    background-position: center;
    height: auto;
}
.bg-englishCard{
  background-image: url(../../public/images/zoo.jpg);
   background-size: cover;
   background-position: center center;
    height: auto;
}
.bg-compare{
  background-image: url(../../public/images/bgcompare.jpg);
   background-size: cover;
   background-position: center center;
    height: auto;
}
.bg-multiKh{
  background-image: url(../../public/images/redCandyLand.jpg);
   background-size: cover;
   background-position: center center;
    height: auto;
}
.bg-countMath{
  background-image: url(../../public/images/candy.jpg);
   background-size: cover;
   background-position: center center;
    height: auto;
}
.bg-countTenMath{
  background-image: url(../../public/images/candyLand.jpg);
   background-size: cover;
   background-position: center center;
    height: auto;
}
.bg-MultipleEng{
  background-image: url(../../public/images/bird.jpg);
   background-size: cover;
   background-position: center center;
    height: auto;
}
.bg-compare{
  background-image: url(../../public/images/seas.jpg);
   background-size: cover;
   background-position: center center;
    height: auto;
}
.bg-OpeMath{
  background-image: url(../../public/images/fished.jpg);
   background-size: cover;
   background-position: center center;
    height: auto;
}
.bg-DrugDropEng{
  background-image: url(../../public/images/drugDrop.jpg);
   background-size: cover;
   background-position: center center;
    height: auto;
}
.bg-Incorrect{
    background-image: url(../../public/images/incorrectAnswer.jpg);
    background-size: cover;
    background-position: center;
    height: auto;
}
.bg-correct{
    background-image: url(../../public/images/correctAnswers.jpg);
    background-size: cover;
    background-position: center;
    height: auto;
}
.bg-corrects{
    background-image: url(../../public/images/skyTemple.jpg);
    background-size: cover;
    background-position: center;
    height: auto;
}
.bg-land{
    background-image: url(../../public/images/landTemple.jpg);
    background-size: cover;
    background-position: center;
    height: auto;
}
.bg-Incorrects{
    background-image: url(../../public/images/dragonTemple.jpg);
    background-size: cover;
    background-position: center;
    height: auto;
}
.bg-login{
  background-image: url(../../public/images/bg-login.jpg);
   background-size: cover;
   background-position: center center;
    background-repeat: no-repeat;
    min-height:100vh;
}
.bg-signin {
  background-image: url(../../public/images/bg-login.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-container {
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  padding: 20px;
  max-width: 400px;
  width: 100%;
}
.bg-score{
    background-image: url(../../public/images/score.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    position: fixed;
}
.bg-allGame{
    background-image: url(../../public/images/bg-AllGame.jpg);
    background-size: cover;
    background-position: center;
    height: auto;
}
.bg-correctPage{
    background-image: url(../../public/images/correctAnswer.jpg);
    background-size: cover;
    background-position: center;
    height: auto;
}
.bg-song{
    background-image: url(../../public/images/songBackground.jpg);
    background-size: cover;
    background-position: center;
    height: auto;
}

@media screen and (min-width: 768px) and (orientation: portrait) {
  .bg-allGame{
    height: auto;
  }
  .bg-song{
    height: auto;
  }
    .bg-correctPage{
    height: auto;
  }
  .bg {
    height: auto;
  }
    .bg-kh {
    height: auto;
  }
   .bg-sub {
    height: auto;
  }
  .bg-compare{
    height: auto;
  }
    .bg-en {
    height: auto;
  }
     .bg-mathCard {
    height: auto;
  }
       .bg-mathCardOp {
    height: auto;
  }
.bg-DrugDropEnglish{
  height: auto;
}
.bg-DrugDropKhmer{
  height: auto;
}
.bg-login{
  height: auto;
}

        .bg-khmerCard{
    height: auto;
  }
         .bg-englishCard{
    height: auto;
  }
           .bg-multiKh{
    height: auto;
  }
  .bg-countMath{
    height: auto ;
  }
   .bg-land{
    height: auto ;
  }
  .bg-compare{
     height: auto ;
  }
  .bg-countTenMath{
    height: auto;
  }
  .bg-MultipleEng{
    height: auto;
  }
  .bg-OpeMath{
    height: auto;
  }
  .bg-DrugDropEng{
    height: auto;
  }
  .bg-Incorrect{
    height: auto;
  }
  .bg-correct{
     height: auto;
  }
  .bg-corrects{
    height: auto;
  }
    .bg-Incorrects{
    height: auto;
  }
 
  .bg-signin{
    height: auto;
  }
  .bg-score{
    height: auto;
  }
}

.animate-gradient {
  background-size: 300%;
  -webkit-animation: animatedgradient 4s ease infinite alternate;
  -moz-animation: animatedgradient 4s ease infinite alternate;
  animation: animatedgradient 4s ease infinite alternate;
}

@keyframes animatedgradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
 .inco{
 font-size:4em;
 font:bold 7.5vw/1.6 'Kantumruy Pro', sans-serif;
 user-select:none;
 text-align: center;
}

.inco ruby { display:inline-block; animation:float .2s ease-in-out infinite; }
 @keyframes float {
  0%,100%{ transform:none; }
  33%{ transform:translateY(-1px) rotate(-2deg); }
  66%{ transform:translateY(1px) rotate(2deg); }
}
body:hover ruby { animation:bounce .6s; }
@keyframes bounce {
  0%,100%{ transform:translate(0); }
  25%{ transform:rotateX(20deg) translateY(2px) rotate(-3deg); }
  50%{ transform:translateY(-20px) rotate(3deg) scale(1.1);  }
}

ruby:nth-child(4n) { color:hsl(50, 75%, 55%); text-shadow:1px 1px hsl(51, 21%, 94%), 2px 2px hsl(50, 86%, 94%), 3px 3px hsl(49, 42%, 93%), 4px 4px hsl(49, 44%, 93%); }
ruby:nth-child(4n-1) { color:hsl(135, 35%, 55%); text-shadow:1px 1px hsl(132, 29%, 97%), 2px 2px hsl(136, 79%, 96%), 3px 3px hsl(134, 53%, 91%), 4px 4px hsl(133, 50%, 95%); }
ruby:nth-child(4n-2) { color:hsl(155, 35%, 60%); text-shadow:1px 1px hsl(150, 25%, 97%), 2px 2px hsl(156, 77%, 93%), 3px 3px hsl(156, 42%, 88%), 4px 4px hsl(139, 54%, 93%); }
ruby:nth-child(4n-3) { color:hsl(30, 65%, 60%); text-shadow:1px 1px hsl(0, 0%, 96%), 2px 2px hsl(28, 51%, 93%), 3px 3px hsl(32, 68%, 95%), 4px 4px hsl(30, 53%, 93%); }

.inco ruby :nth-child(2){ animation-delay:.05s; }
.inco ruby :nth-child(3){ animation-delay:.1s; }
.inco ruby :nth-child(4){ animation-delay:.15s; }
.inco ruby :nth-child(5){ animation-delay:.2s; }
.inco ruby :nth-child(6){ animation-delay:.25s; }
.inco ruby :nth-child(7){ animation-delay:.3s; }
.inco ruby :nth-child(8){ animation-delay:.35s; }
.inco ruby :nth-child(9){ animation-delay:.4s; }
.inco ruby :nth-child(10){ animation-delay:.45s; }
.inco ruby :nth-child(11){ animation-delay:.5s; }
.inco ruby :nth-child(12){ animation-delay:.55s; }
.inco ruby :nth-child(13){ animation-delay:.6s; }
.inco ruby :nth-child(14){ animation-delay:.65s; }

.line1, .line2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media (max-width: 768px) {
   .inco {
    flex-direction: column;
    align-items: center;
    font-size: 4em;
    line-height: 1.2;
  }
    .line1, .line2 {
    width: 100%;
    text-align: center;
  }
}

@media (min-width: 769px) {
  .inco {
    font-size: 5em;
    line-height: 1.2;
    text-align: center;
  }
  .line1, .line2 {
    display: inline-block;
    white-space: nowrap;
  }
}

@media (max-width: 480px) {
  .inco {
    font-size: 3.6em;
    line-height: 0.9;
    display:block;
    padding: 10px;
     display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0 auto;
  }
   .inco span {
    white-space: nowrap;
  }
}
@media (max-width: 320px) {
.inco {
font-size: 2.4em;
line-height: 1;
}
}


              
.bounce {
    animation-name: bounce;
    animation-duration: 1s;
    animation-iteration-count: infinite;
  }
  
  @keyframes bounce {
      0% {transform: translateY(0);}
      50% {transform: translateY(-10px);}
      100% {transform: translateY(0);}
  }

              
.slide {
    animation-name: slide;
    animation-duration: 1s;
    animation-iteration-count: infinite;
  }
  
  @keyframes slide {
    0% {transform: translateX(0);}
    50% {transform: translateX(20px);}
    100% {transform: translateX(0);}
  }

  .animationFlying {
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  animation: fly 5s ease-in-out infinite;
}

@keyframes fly {
  0% {
    transform: translate(0, 0) rotate(0deg);
  }
  25% {
    transform: translate(100%, -50%) rotate(45deg);
  }
  50% {
    transform: translate(200%, 0) rotate(0deg);
  }
  75% {
    transform: translate(100%, 50%) rotate(-45deg);
  }
  100% {
    transform: translate(500%, 100%) rotate(0deg);
  }
}

.animationFlyFull {
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  animation: fly 5s ease-in-out infinite;
}

@keyframes fly {
  0% {
    transform: translate(0, 0) rotate(0deg);
  }
  20% {
    transform: translate(30%, -20%) rotate(15deg);
  }
  40% {
    transform: translate(60%, -50%) rotate(30deg);
  }
  60% {
    transform: translate(90%, -20%) rotate(15deg);
  }
  80% {
    transform: translate(120%, 0) rotate(0deg);
  }
  100% {
    transform: translate(150%, 20%) rotate(-15deg);
  }
}

.animationFly {
  position: absolute;
  animation: fly-around 5s ease-in-out infinite, up-down 2s ease-in-out infinite;
}
    
@keyframes fly-around {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(calc(100% - 50px), 0);
  }
  50% {
    transform: translate(calc(100% - 50px), calc(100% - 50px));
  }
  75% {
    transform: translate(0, calc(100% - 50px));
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes up-down {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-50%);
  }
  100% {
    transform: translateY(0);
  }
}
.flyAnim {
  position: absolute;
  animation: flyA 5s ease-in-out infinite;
  transform: translateY(-50%);
}

@keyframes flyA {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
.animationFlyDown {
  position: absolute;
  animation: fly-around 5s ease-in-out infinite, up-down 2s ease-in-out infinite;
}

@keyframes fly-around {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(calc(100% - 50px), 0);
  }
  50% {
    transform: translate(calc(100% - 50px), calc(100% - 50px));
  }
  75% {
    transform: translate(0, calc(100% - 50px));
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes up-down {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-50%);
  }
  100% {
    transform: translateY(0);
  }
}
.fly-from-left {
  position: absolute;
  animation: fly-back-and-forth 4s linear infinite;
}

@keyframes fly-back-and-forth {
  0% {
    transform: translateX(-50px);
  }
  25% {
    transform: translateX(0);
  }
  75% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(50px);
  }
}
.flyFoth {
    position: absolute;
    scale: 0.65;
    animation: animateKii 9s linear infinite;
}

@keyframes animateKii {
    0%{
        transform: translateX(calc(100% + 100vw));
    }
    50%{
        transform: translateX(calc(-100% - 100vw));
    }
    50.01%{
        transform: translateX(calc(-100% - 100vw))
        rotateY(180deg);
    }
    100%{
        transform: translateX(calc(100% + 100vw))
        rotateY(180deg);
    }
}
.password-field:focus {
  outline: none;
  box-shadow: none;
}
.password-field:hover {
  outline: none;
  box-shadow: none;
}

.animate-gradient {
  background-size: 300%;
  -webkit-animation: animatedgradient 4s ease infinite alternate;
  -moz-animation: animatedgradient 4s ease infinite alternate;
  animation: animatedgradient 4s ease infinite alternate;
}

@keyframes animatedgradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.text-shadows {
  text-shadow: 3px 3px 0 var(--color-secondary), 6px 6px 0 var(--color-tertiary),
  9px 9px var(--color-quaternary), 12px 12px 0 var(--color-quinary);
  font-family: bungee, sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  font-size: calc(2rem + 2vw);
  text-align: center;
  margin: 0;
  color: var(--color-primary);
  animation: shadows 1.2s ease-in infinite;
  letter-spacing: 0.4rem;
}

@keyframes shadows {
  0% {
    text-shadow: none;
  }
  10% {
    transform: translate(-3px, -3px);
    text-shadow: 3px 3px 0 var(--color-secondary);
  }
  20% {
    transform: translate(-6px, -6px);
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary);
  }
  30% {
    transform: translate(-9px, -9px);
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary);
  }
  40% {
    transform: translate(-12px, -12px);
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary),
      12px 12px 0 var(--color-quinary);
  }
  50% {
    transform: translate(-12px, -12px);
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary),
      12px 12px 0 var(--color-quinary);
  }
  60% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary),
      12px 12px 0 var(--color-quinary);
  }
  70% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary);
  }
  80% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary);
  }
  90% {
    text-shadow: 3px 3px 0 var(--color-secondary);
  }
  100% {
    text-shadow: none;
  }
}
.borderbox {
  animation: border-color-animation 5s infinite;
}

@keyframes border-color-animation {
  0% {
    border-color: rgb(9, 158, 113);
  }
  25% {
    border-color: rgb(217, 24, 223);
  }
  50% {
    border-color: rgb(214, 214, 20);
  }
  75% {
    border-color: rgb(234, 49, 135);
  }
  100% {
    border-color: rgb(53, 118, 209);
  }
}

.custom-header thead th {
  font-size: 20px; /* set the font size */
  background-color: #f2f2f2; /* set the background color */
}

h6 {
	margin: auto;
	letter-spacing: 0.0015em;
	font-size: 5em;
	text-shadow: 0 1px #8da1ff, -1px 0 #c0cbff, -1px 2px #8da1ff, -2px 1px #c0cbff,
		-2px 3px #8da1ff, -3px 2px #c0cbff, -3px 4px #8da1ff, -4px 3px #c0cbff,
		-4px 5px #8da1ff, -5px 4px #c0cbff, -5px 6px #8da1ff, -6px 5px #c0cbff,
		-6px 7px #8da1ff, -7px 6px #c0cbff, -7px 8px #8da1ff, -8px 7px #c0cbff;
	text-align: center;
}
.incol{
  	margin: 0;
	height: 100%;
	display: grid;
	/* background-color: #ffdd40; */
	font-family: 'Kantumruy Pro', sans-serif;
	color: #5f22ed;
}
/* Responsive design for devices with width up to 600px */
@media only screen and (max-width: 600px) {
	h6 {
		font-size: 3em;
	}
}

/* Responsive design for devices with width between 600px and 1024px */
@media only screen and (min-width: 600px) and (max-width: 1024px) {
	h6 {
		font-size: 4em;
	}
}

/* Responsive design for devices with width above 1024px */
@media only screen and (min-width: 1024px) {
	h6 {
		font-size: 5em;
	}
}